* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 0.01vmin solid lime; */
}

html {
  font-family: "calibri", sans-serif;
  font-size: 2vmin;
}

body {
  background-color: #161616;
}

div {
  margin: 5vmin auto;
  padding: auto;
  width: 80vmin;
}

#main-container {
  margin: 8vmin auto;
}

input, button {
  height: 4vmin;
  font-size: 2vmin;
  border: 0.01vmin solid grey;
}

input {
  width: 65vmin;
  padding: 0.5vmin 0.8vmin;
  border-radius: 1vmin 0vmin 0vmin 1vmin;
}

button {
  width: 15vmin;
  background-color: aqua;
  border-radius: 0vmin 1vmin 1vmin 0vmin;
}

h2,
p,
th {
  color: white;
}

h2,
p {
  text-align: center;
}

h2 {
  font-family: "montserrat light";
  font-variant: small-caps;
  font-size: 6vmin;
}

p {
  font-family: "montserrat extralight";
  font-size: 1.5vmin;
}

a {
  color: aqua;
}

a:visited {
  color: rgb(161, 161, 161);
}

a:hover {
  color: crimson;
}

th {
  font-family: "calibri light";
  font-size: 2.5vmin;
  border-bottom: 0.2vmin solid white;
}

td {
  border-bottom: 0.1vmin solid grey;
  padding: 1vmin 2vmin;
}

td:first-child {
  color: aqua;
  text-align: center;
  width: 20vmin;
}

td:nth-child(2) {
  color: rgb(240, 240, 240);
}
